<div class="tab-pane active" id="main">
	{{ form_row(form.masterVariant.sku) }}
    {{ form_row(form.name, {'attr': {'class': 'input-xxlarge'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'input-xxlarge', 'rows': 10}}) }}
    {{ form_row(form.shortDescription, {'attr': {'class': 'input-xxlarge', 'rows': 3}}) }}
    <hr />
    {{ form_row(form.masterVariant.price) }}
    {{ form_row(form.masterVariant.onHand) }}
</div>
