{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="contact">
	<div class="contentTitle"><h3 class="titleSection container">Contacto</h3></div>
	<div class="container content">
	{% if app.session.flashbag.has('sended') %}
	{%   for message in app.session.flashbag.get('sended') %}
		<div class="sectionMessage">
    		<h2>{{ message|raw }}</h2>
    	</div>
    {%   endfor %}
	{% else %}
		{% if form.vars.errors|length %}
		<div class="alert alert-error">
    		Verifique los datos ingresados. Todos los campos son obligatorios.
		</div>
		{% endif %}
		
		<div class="row-fluid">
			<div class="span6 form">
				<form action="{{ path('pigalle_contact') }}" method="post">
					<fieldset>
						<div class="control-group">
							{{ form_label(form.name, 'Nombre y Apellido:') }}
							<div class="controls">
								{{ form_widget(form.name) }}
							</div>
						</div>
						<div class="control-group">
							{{ form_label(form.email, 'E-mail:') }}
							<div class="controls">
								{{ form_widget(form.email) }}
							</div>
						</div>
						<div class="control-group">
							{{ form_label(form.phone, 'Teléfono:') }}
							<div class="controls">
								{{ form_widget(form.phone) }}
							</div>
						</div>
						<div class="control-group">
							{{ form_label(form.message, 'Mensaje:') }}
							<div class="controls">
								{{ form_widget(form.message) }}
							</div>
						</div>
						{{ form_rest(form) }}
						
						<button type="submit" class="button pull-right">Enviar</button>
					</fieldset>					
				</form>
			</div>
			<div class="span6 data">
				<p class="name">Showroom y local Pigalle</p>
				<p>Las Heras 674, Ramos Mejía</p>
				<p>011 4658 5137</p>
				<p><a href="mailto:ventas@pigalle.com.ar">ventas@pigalle.com.ar</a></p>
				
				<iframe class="map"width="380" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com.ar/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=Las+Heras+674,+Ramos+Mej%C3%ADa,+Buenos+Aires&amp;aq=0&amp;oq=las&amp;sll=-34.615853,-58.433299&amp;sspn=0.49672,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=Las+Heras+674,+Ramos+Mej%C3%ADa,+Buenos+Aires&amp;t=m&amp;ll=-34.64027,-58.553009&amp;spn=0.031071,0.03253&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			</div>
		</div>
	{% endif %}
	</div>
</div>
{% endblock %}