{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div id="slider" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		{% for slide in pigalleSlides %}
		<div class="item{{ (loop.first)?' active':'' }}" style="background-image:url({{ asset('media/image/'~slide.path) }});">
			{% if slide.hasBox %}
			<div class="container">					
				<div class="box">
					{% if slide.hasTitle %}
					<h3>{{ slide.getTitle }}</h3>
					{% endif %}
					{% if slide.hasText %}
					<p>{{ slide.getText }}</p>
					{% endif %}
					{% if slide.hasLink %}
					<a href="{{ slide.getLinkUrl }}" class="btn">{{ slide.getLinkText }}</a>
					{% endif %}
				</div>
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<!-- Carousel nav -->
	<div class="container controls">
		<ol class="carousel-indicators">
			{% for i in 0..(pigalleSlides|length)-1 %}
			<li data-target="#slider" data-slide-to="{{ i }}"{{ (loop.first)?' class="active"':'' }} ></li>
			{% endfor %}
		</ol>
			
		<a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>
	</div>
</div>
{% endblock %}

{% block featured_products %}
{{ render(controller('PigalleBundle:Product:featuredProducts')) }}
{% endblock %}