{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div id="slider" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="item active" style="background-image:url({{ asset('bundles/pigalle/images/sectionHeaderBackground.jpg') }});"></div>
	</div>
</div>
<div class="socaloGris"></div>
<div class="container laMarca">
	<div class="tab">La Marca</div>
	<p class="description">
		Pigalle diseña y fabrica zapatos de mujer. Desde sus comienzos ha marcado tendencia en la moda y sus colecciones se destacan por las líneas exclusivas y los detalles de confección. Hoy la marca propone una gran variedad de estilos, ofreciendo calzados para todas las ocasiones.
		<br><br>
		La fábrica mantiene desde hace más de cuarenta años la tradición con la cual confecciona sus zapatos artesanalmente, asegurando calidad y comodidad.
		<br><br>
		Los que hacemos Pigalle esperamos que nuestra pasión y dedicación se transmita a nuestros productos. Nos enorgullese entonces invitarlos a descubrir las nuevas colecciones.
	</p>
	<div class="hr"><hr /></div>
	<ul>
		<li>
			<img src="{{ asset('bundles/pigalle/images/marca_objetivo.png') }}" />
			<h3>Nuestro objetivo principal es excelencia de servicio</h3>
		</li>
		<li>
			<img src="{{ asset('bundles/pigalle/images/marca_principios.png') }}" />
			<h3>Nuestros principios:<br>- Transparencia<br>- Experiencia<br>- Compromiso</h3>
		</li>
		<li>
			<img src="{{ asset('bundles/pigalle/images/marca_compras.png') }}" />
			<h3>Comprá nuestros productos <a href="{{ path('pigalle_product_index') }}">acá</a> o averiguá <a href="{{ path('pigalle_locales') }}">locales</a> que te quedan mas cerca!</h3>
		</li>
		<li>
			<img src="{{ asset('bundles/pigalle/images/marca_facebook.png') }}" />
			<h3>Hacete nuestro amigo y seguinos en facebook! <br> <a href="https://www.facebook.com/pages/PIGALLE/166228950080" target="_blank">facebook.com/PIGALLE</a></h3>
		</li>
	</ul>
</div>
{% endblock %}