<form action="{{ path('sylius_account_profile') }}" {{ form_enctype(form) }} method="POST">
	{{ form_errors(form) }}	
    <fieldset>
    	<div class="form-group">
    		{{ form_label(form.firstName, "Nombre:") }}
    		{{ form_errors(form.firstName) }}
    		{{ form_widget(form.firstName) }}
		</div>
        <div class="form-group">
    		{{ form_label(form.email, "E-mail:") }}
    		{{ form_errors(form.email) }}
    		{{ form_widget(form.email) }}
		</div>
		{{ form_rest(form) }}
    </fieldset>
    
    <button type="submit" class="button">Guardar</button>
</form>