{% set variant = item.sellable %}
{% set product = variant.product %}
<tr>
	<td class="detalle">
		<div class="photo">
			<a href="{{ path('pigalle_product_show', {'slug': product.slug}) }}">
            	<img src="{{ product.image.path|imagine_filter('sylius_138x138') }}" alt="" />
        	</a>
		</div>
		<div class="datosProducto">
			<h3 class="productName"><a href="{{ path('pigalle_product_show', {'slug': product.slug}) }}">{{ product.name }}</a></h3>
			<p class="productDescription">{{ product.description|default('')|raw }}</p>
			<p class="talle">Talle: <span>{{ variant.options|first.value }}</span></p>
		</div>
	</td>
	<td class="quantity">{{ item.quantity }}</td>
	<td class="unitPrice">{{ item.unitPrice|price }}</td>
	<td class="totalPrice">{{ item.total|price }}</td>
</tr>
