<form method="get">
	{% for taxonomy in taxonomies %}
	{% if route == 'pigalle_mayorista_index' or taxonomy.name != 'Temporada' %}
	<div class="filter filterAccordion">
		<a class="accordionHeader collapsed" data-toggle="collapse" href="#filterAccordionBody{{ loop.index }}">{{ taxonomy.name }}</a>
		<ul id="filterAccordionBody{{ loop.index }}" class="collapse">
			<li><a href="{{ path(route) }}">Todos</a></li>
			{% for taxon in taxonomy.taxons %}
			<li><a href="{{ path(routeByTaxon, { 'permalink': taxon.permalink }) }}">{{ taxon.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% endfor %}

	<div class="filter">
		<p>
			<label for="filterOferta">Solo ofertas</label>
			<input type="checkbox" id="filterOferta" name="f[only_offer]"{{ (filters and filters.only_offer)?' checked="checked"':'' }} />
		</p>
	</div>

	<button type="submit" class="button">Buscar</button>
</form>