{% extends 'PigalleBundle::layout.html.twig' %}

{% set form = sylius_cart_form({'product': product}) %}

{% block content %}
<div class="detalleProducto">
	<div class="container">
		<h3 class="titleSection">Online Store</h3>
		<div class="direction">
			<a class="pull-left" onclick="history.back();">VOLVER</a>
			<!-- <a class="pull-right">ANTERIOR / SIGUIENTE</a>  -->
		</div>
		<div class="row">
			<div class="span6 fotoDetalle"><img src="{{ product.image.path|imagine_filter('product_image_medium') }}" data-zoom-image="{{ product.image.path|imagine_filter('product_image_big') }}" /></div>
			<div class="span6 datos">
				<div id="productGalleryZoomContainer"></div>
				<div class="datosProducto">
					<h3 class="productName">{{ product.name }}</h3>
					<p class="description">{{ product.description|default('')|raw }}</p>
					<div class="botonCompras"{{ (product.isOffer)?' style="top: 23px;"':'' }}>&nbsp;</div>
					<div class="{{ (product.isOffer)?'flagOferta':'flag' }}">
						<p>{{ product.masterVariant.price|price}}</p>
						{%  if(product.isOffer) %}
            			<p class="oferta">{{ product.priceWithoutDiscount|price}}</p>
            			{% endif %}
						<div class="tail">&nbsp;</div>
					</div>
					<ul class="share">
						<li class="pinterest"><a href="#"><img src="{{ asset('bundles/pigalle/images/pinterest.png') }}" /></a></li>
						<li class="email"><a href="#"><img src="{{ asset('bundles/pigalle/images/sobre.png') }}" /></a></li>
						<li class="facebookLike"><div class="fb-like" data-href="{{ url('pigalle_product_show', {'slug': product.slug}) }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div></li>
					</ul>
				</div>				
				<div class="photos" id="productGallery">
				{% for image in product.images %}
        			<a href="#" title="{{ product.name }}" data-image="{{ image.path|imagine_filter('product_image_medium') }}" data-zoom-image="{{ image.path|imagine_filter('product_image_big') }}">
            			<img class="img-polaroid" src="{{ image.path|imagine_filter('product_image_small') }}" alt="{{ product.name }}" />
        			</a>
    			{% endfor %}
				</div>
				<form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post">
					<div class="talles">
						<div class="row-fluid">
							<p class="span2">Talle:</p>
							<ul class="span10 talleList">
							{% for variant in product.variants if (variant.available and sylius_inventory_is_available(variant) and variant.options|length > 0) %}
								<li>
                                {{ form_widget(form.variant[loop.index0], {'attr': {'class': 'toggle'}}) }}
								{{ form_label(form.variant[loop.index0], variant.options|first.value) }}
								</li>
							{% endfor %}
							</ul>
						</div>
						<div class="row-fluid">
							<p class="span2">Cantidad:</p>
							<div class="span10">
								{{ form_widget(form.quantity, {'attr': {'class': 'quantity'}, 'empty_value': '1'}) }}
            					{{ form_widget(form._token) }}
							</div>
						</div>
					</div>				
					<button type="submit" class="button addToCartButton" href="#">AGREGAR A LA BOLSA DE COMPRAS</button>
				</form>
			</div>			
		</div>
	</div>
</div>
{% endblock %}

{% block featured_products %}
{{ render(controller('PigalleBundle:Product:featuredProducts')) }}
{% endblock %}
