<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Pigalle{% endblock %}</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {# stylesheets... #}
        {% block stylesheets %}
        {% stylesheets output='css/compiled/frontend.css' filter='cssrewrite'
            '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'
            'http://fonts.googleapis.com/css?family=Lato:300,400,700'
            'http://fonts.googleapis.com/css?family=Croissant+One'
            '@SyliusBackendBundle/Resources/assets/css/bootstrap-image-gallery.min.css'
            'bundles/pigalle/css/main.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
		<div id="header">
			<div class="container">
				<ul class="pull-left">
					<li>NEWSLETTER:</li>
					<li>Join us!</li>
				</ul>
				<ul class="pull-right">
					<li><a>LOGIN</a>  |</li>
					<li><a>REGISTRARSE</a></li>
					<li class="count"><a>20</a></li>
				</ul>
			</div>
		</div>
		
		<div id="menu">
			<div class="container">			
				<ul class="pull-left">
					<li><a>LA MARCA</a></li>
					<li><a>COLECCIONES</a></li>
					<li><a>ONLINE SHOP</a></li>
				</ul>
				<a href="{{ path('pigalle_homepage') }}" class="logo"><img src="{{ asset('bundles/pigalle/images/logo-pigalle.png') }}" alt="Pigalle" /></a>
				<ul class="pull-right">
					<li><a>PREVENTA</a></li>
					<li><a>LOCALES</a></li>
					<li><a>CONTACTO</a></li>
					<li><a><img src="{{ asset('bundles/pigalle/images/ico-facebook.png') }}" alt="Facebook" /></a></li>
				</ul>
			</div>
		</div>
		
		<div id="slider" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="item active" style="background-image:url({{ asset('bundles/pigalle/images/slider_1.png') }});">
					<div class="container">					
						<div class="box">
							<h3>Descubrí la nueva colección!</h3>
							<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem. lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem. lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem. lorem ipsum lorem ipsum lorem ipsu m lorem ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem.</p>
							<a href="#" class="btn">Descubrila acá!</a>
						</div>
					</div>
				</div>
				<div class="item" style="background-image:url({{ asset('bundles/pigalle/images/slider_2.jpg') }});"></div>
				<div class="item" style="background-image:url({{ asset('bundles/pigalle/images/slider_1.png') }});"></div>
				<div class="item" style="background-image:url({{ asset('bundles/pigalle/images/slider_2.jpg') }});"></div>
  			</div>
			<!-- Carousel nav -->
			<div class="container controls">
				<ol class="carousel-indicators">
					<li data-target="#slider" data-slide-to="0" class="active"></li>
					<li data-target="#slider" data-slide-to="1"></li>
					<li data-target="#slider" data-slide-to="2"></li>
					<li data-target="#slider" data-slide-to="3"></li>
				</ol>
				
				<a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>
			</div>
		</div>
  		<div class="socaloGris"></div>
  
		<div id="content" class="container">
			{% block content %}{% endblock %}
			{% block featured_products %}{% endblock %}
		</div>
				
		<div id="footer">
    		<div class="socaloFooter"></div>
        	<div class="footer">
            	<div class="container">
					<div class="row">
						<div class="span2">
							<h3>MAPA DEL SITIO</h3>
							<ul>
								<li><a>Marca</a></li>
								<li><a>Coleciones</a></li>
								<li><a>Online shop</a></li>
								<li><a>Locales</a></li>
								<li><a>Bolsa de compras</a></li>
								<li><a>Login</a></li>
								<li><a>Contacto</a></li>
							</ul>
						</div>
						<div class="span2">
							<h3>FaQ's</h3>
							<ul>
								<li><a>Lorem ipsum dolor sit?</a></li>
								<li><a>Lorem ipsum dolor sit?</a></li>
								<li><a>Lorem ipsum dolor sit?</a></li>
								<li><a>Lorem ipsum dolor sit?</a></li>
							</ul>
							<p><a>Ver Más</a></p>
						</div>
						<div class="span2">
							<h3>TÉRMINOS</h3>
							<p>El uso de este sitio web implica la aceptación De los <u>TÉRMINOS Y CONDICIONES</u> y de las <u>POLÍTICAS DE PRIVACIDAD</u></p>
							<p><a>Leer Más</a></p>
						</div>
						<div class="span2">
							<h3>CONTACTO</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, </p>
							<p><a>Leer Más</a></p>
						</div>
						<div class="span2">
							<h3>DATA FISCAL</h3>
							<img src="{{ asset('bundles/pigalle/images/img-qr-data-fiscal.png') }}" alt="Pigalle QR AFIP" />
							<p><a>Ver Más</a></p>
						</div>
						<div class="span2 logo">
							<a><img src="{{ asset('bundles/pigalle/images/logo-pigalle-copyright.png') }}" alt="Logo Pigalle Copyright" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
    
		{# modal gallery #}
		{% include 'PigalleBundle::gallery.html.twig' %}
		
        {# javascripts... #}
        {% block javascripts %}
        {% javascripts output='js/compiled/frontend.js'
            'http://code.jquery.com/jquery-1.10.0.min.js'
            '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js'
            '@SyliusBackendBundle/Resources/assets/js/load-image.js'
            '@SyliusBackendBundle/Resources/assets/js/bootstrap-image-gallery.min.js'
            '@PigalleBundle/Resources/assets/js/main.js'            
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>