<!DOCTYPE html>
{% set cart = sylius_cart_get() %}
<html>
    <head>
        <title>{% block title %}Pigalle{% endblock %}</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {# stylesheets... #}
        {% block stylesheets %}
        {% stylesheets output='css/compiled/frontend.css' filter='cssrewrite'
            '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'
            'http://fonts.googleapis.com/css?family=Lato:300,400,700'
            'http://fonts.googleapis.com/css?family=Croissant+One'
            '@SyliusBackendBundle/Resources/assets/css/bootstrap-image-gallery.min.css'
            'bundles/pigalle/css/main.css'
            'bundles/pigalle/css/sections.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
    	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=493058447438923";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div id="header">
			<div class="container">
				<p class="newsletter">NEWSLETTER: Join us!</p>
				<div class="pull-right">
					{% if is_granted('ROLE_USER') %}
					<ul class="granted">
						<li class="account"><a href="{#{ path('sylius_account_homepage') }#}#">mi cuenta</a></li>
						{% if is_granted('ROLE_SYLIUS_ADMIN') %}
						<li class="admin"><a href="{{ path('sylius_backend_index') }}" target="_blank">administrador</a></li>
						{% endif %}
						<li class="logout"><a href="{{ path('fos_user_security_logout') }}">salir</a></li>
						<li class="user">Hola {{ app.user.getShortedName }}!</li>
					</ul>
					{% else %}
					<ul>
						<li><a href="{{ path('fos_user_security_login') }}">LOGIN</a></li>
						<li><a href="{{ path('fos_user_registration_register') }}">REGISTRARSE</a></li>
					</ul>
					{% endif %}
					<a href="{{ path('sylius_cart_summary') }}" class="cartItems">{{ cart.totalItems }}</a>
				</div>
			</div>
		</div>
		
		<div id="menu">
			<div class="container">		
				{{ knp_menu_render('pigalle.menu.main_left', {'currentClass': 'active'}) }}
				<a href="{{ path('pigalle_homepage') }}" class="logo"><img src="{{ asset('bundles/pigalle/images/logo-pigalle.png') }}" alt="Pigalle" /></a>
				{{ knp_menu_render('pigalle.menu.main_right', {'currentClass': 'active', 'allow_safe_labels': true}) }}
			</div>
		</div>
  
		<div id="content">
			{% block content %}{% endblock %}
			{% block featured_products %}{% endblock %}
		</div>
				
		<div id="footer">
    		<div class="socaloFooter"></div>
        	<div class="footerContent">
            	<div class="container">
					<div class="row">
						<div class="span2">
							<h3>MAPA DEL SITIO</h3>
							<ul>
								<li><a>Marca</a></li>
								<li><a>Colecciones</a></li>
								<li><a href="{{ path('pigalle_product_index') }}">Online shop</a></li>
								<li><a>Locales</a></li>
								<li><a href="{{ path('sylius_cart_summary') }}">Bolsa de compras</a></li>
								<li><a>Login</a></li>
								<li><a>Contacto</a></li>
							</ul>
						</div>
						<div class="span2">
							<h3>FAQ's</h3>
							<ul>
								<li><a>Lorem ipsum dolor sit?</a></li>
								<li><a>Lorem ipsum dolor sit?</a></li>
								<li><a>Lorem ipsum dolor sit?</a></li>
								<li><a>Lorem ipsum dolor sit?</a></li>
							</ul>
							<p><a>Ver Más</a></p>
						</div>
						<div class="span2">
							<h3>TÉRMINOS</h3>
							<p>El uso de este sitio web implica la aceptación de los <a href="#"><u>TÉRMINOS Y CONDICIONES</u></a> y de las <a href="#"><u>POLÍTICAS DE PRIVACIDAD</u></a></p>
						</div>
						<div class="span2">
							<h3>DATA FISCAL</h3>
							<p>PIGALLE ACCESORI SA <br />IVA RESPONSABLE INSCRIPTO <br />Las Heras 670<br /> Ramos Mejía (C.P. 1704)<br /> Buenos Aires</p>
						</div>
						<div class="span2 dataFiscal">
							<img src="{{ asset('bundles/pigalle/images/data-fiscal.png') }}" alt="Pigalle QR AFIP" />
						</div>
						<div class="span2 logo">
							<img src="{{ asset('bundles/pigalle/images/pigalle-copyright.png') }}" alt="Logo Pigalle Copyright" />
						</div>
					</div>
				</div>
			</div>
		</div>
    
		{# modal gallery #}
		{% include 'PigalleBundle::gallery.html.twig' %}
		
		{# modal quickview #}
		{% include 'PigalleBundle::quickview.html.twig' %}
		
        {# javascripts... #}
        {% block javascripts %}
        {% javascripts output='js/compiled/frontend.js'
            'http://code.jquery.com/jquery-1.10.0.min.js'
            '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js'
            '@PigalleBundle/Resources/assets/js/jquery.elevateZoom-2.6.0.min.js'
            '@PigalleBundle/Resources/assets/js/main.js'            
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>