{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="checkout finalize step5">
	<div class="contentTitle"><h3 class="titleSection container">Proceso de compra - Resumen</h3></div>
	<div class="container content">
		{% include 'PigalleBundle:Checkout:_progressBar.html.twig' with {'step': 5 } %}

		<div class="row-fluid">
			<div class="span4 message step5Message">
				<span class="circle">5</span>
				<h3>Felicitaciones!<br>Llegaste al final, comprobá si todos los datos están bien.</h3>
				<img src="{{ asset('bundles/pigalle/images/finalize-ico-big.png') }}" alt="Resumen" />
			</div>
			<div class="span8 finalizeData">
				<h2>Resumen de tu compra</h2>
				<div class="addresses clearfix">
					<div class="address">
						<p class="title">Dirección de envio:</p>
						<p>{{ order.shippingAddress.firstname }}</p>
						<p>{{ order.shippingAddress.street }}</p>
						<p>{{ order.shippingAddress.postcode }}, {{ order.shippingAddress.city }}</p>
						<p>{{ order.shippingAddress.province }}</p>						
					</div>
					<div class="address">
						<p class="title">Dirección de facturación:</p>
						<p>{{ order.billingAddress.firstname }}</p>
						<p>{{ order.billingAddress.street }}</p>
						<p>{{ order.billingAddress.postcode }}, {{ order.billingAddress.city }}</p>
						<p>{{ order.billingAddress.province }}</p>						
					</div>
				</div>
				<div class="products">
					<h3 class="title">Productos elegidos:</h3>
					<table class="list">						
						{% for item in order.items %}
            			{% include 'PigalleBundle:Checkout/Step/Finalize:_item.html.twig' %}
        				{% endfor %}
					</table>
				</div>
				
				{#<ul>
					{% for taxAdjustment in order.taxAdjustments %}
	                <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|price }} </li>
	            	{% else %}
	                <li><span class="label label-info">{{ 'sylius.checkout.finalize.order.no_taxes'|trans }}</span></li>
	            	{% endfor %}
            	</ul>#}
            	
            	<div class="shipping">
					<h3 class="title">Método de envio:</h3>
					{% for adjustment in order.shippingAdjustments %}
                	<p>{{ adjustment.description }}: <span>{{ adjustment.amount|price }}</span></p>
            		{% endfor %}
				</div>
				
            	{#<strong>{{ 'sylius.checkout.finalize.order.tax_total'|trans }}</strong>: {{ order.taxTotal|price }}#}
            	
            	{# {% if order.promotionAdjustments|length > 0 %}
	            <p><strong>Descuentos</strong></p>
	            <ul>
	            	{% for adjustment in order.promotionAdjustments %}
	                <li>{{ adjustment.description }} {{ adjustment.amount|price }} </li>
	                {% endfor %}
	            </ul>
				<strong>{{ 'sylius.checkout.finalize.order.promotion_total'|trans }}</strong>: {{ order.promotionTotal|price }}
		        {% endif %}#}
		        
		        <div class="total">
					<p class="title">TOTAL:</p>
					<div class="flag">
						<p>{{ order.total|price }}</p>
						<div class="tail">&nbsp;</div>
					</div>
					<a href="{{ paylink }}" class="button checkoutButton">Finzalizar compra</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
