{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="checkout finalize step5">
	<div class="contentTitle"><h3 class="titleSection container">Proceso de compra - Resumen</h3></div>
	<div class="container content">
		{% include 'PigalleBundle:Checkout:_progressBar.html.twig' with {'step': 5 } %}

		<div class="row-fluid">
			<div class="span4 message step5Message">
				<span class="circle">5</span>
				<h3>Felicitaciones!<br>Llegaste al final, comprobá si todos los datos están bien.</h3>
				<img src="{{ asset('bundles/pigalle/images/finalize-ico-big.png') }}" alt="Resumen" />
			</div>
			<div class="span8 finalizeData">
				<h2>Resumen de tu compra</h2>
				<div class="addresses">
					<div>
						<p>Dirección de envio</p>
						<p>{{ order.shippingAddress.firstname }}</p>
						<p>{{ order.shippingAddress.street }}</p>
						<p>{{ order.shippingAddress.postcode }}, {{ order.shippingAddress.city }}</p>
						<p>{{ order.shippingAddress.province }}</p>						
					</div>
					<div>
						<p>Dirección de facturación</p>
						<p>{{ order.billingAddress.firstname }}</p>
						<p>{{ order.billingAddress.street }}</p>
						<p>{{ order.billingAddress.postcode }}, {{ order.billingAddress.city }}</p>
						<p>{{ order.billingAddress.province }}</p>						
					</div>
				</div>
				<div class="products">
					<h3>Productos elegidos</h3>
					<table>						
						{% for item in order.items %}
            			{% include 'PigalleBundle:Checkout/Step/Finalize:_item.html.twig' %}
        				{% endfor %}
					</table>
				</div>
				
				<ul>
					{% for taxAdjustment in order.taxAdjustments %}
	                <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|price }} </li>
	            	{% else %}
	                <li><span class="label label-info">{{ 'sylius.checkout.finalize.order.no_taxes'|trans }}</span></li>
	            	{% endfor %}
            	</ul>
            	
            	<ul>
            		{% for adjustment in order.shippingAdjustments %}
                	<li>{{ adjustment.description }} {{ adjustment.amount|price }} </li>
            		{% else %}
                	<li><span class="label label-info">{{ 'sylius.checkout.finalize.order.no_shipping_charges'|trans }}</span></li>
            		{% endfor %}
            	</ul>
            	<strong>{{ 'sylius.checkout.finalize.order.tax_total'|trans }}</strong>: {{ order.taxTotal|price }}
            	
            	{% if order.promotionAdjustments|length > 0 %}
	            <p><strong>Descuentos</strong></p>
	            <ul>
	            	{% for adjustment in order.promotionAdjustments %}
	                <li>{{ adjustment.description }} {{ adjustment.amount|price }} </li>
	                {% endfor %}
	            </ul>
				<strong>{{ 'sylius.checkout.finalize.order.promotion_total'|trans }}</strong>: {{ order.promotionTotal|price }}
		        {% endif %}
		        
		        <strong>Total</strong>: {{ order.total|price }}
			</div>
		</div>
		
		<div class="stepActions">
			<a href="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="button">Finzalizar compra</button>
		</div>
	</div>
</div>
{% endblock %}
