{% extends 'SyliusBackendBundle::layout.html.twig' %}

{% import 'SyliusBackendBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'SyliusBackendBundle:PigalleSlide:list.html.twig' import list %}
  				
{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.pigalle_slide.index_header'|trans|raw }}</h1>
</div>

<div class="well well-small">
    {{ buttons.create(path('sylius_backend_pigalle_slide_create'), 'sylius.pigalle_slide.create'|trans) }}
</div>

<div class="row-fluid">
	{{ pagination(pigalle_slides) }}
</div>

{{ list(pigalle_slides) }}
{{ pagination(pigalle_slides) }}

{% endblock %}
