<div class="form-container">
<fieldset>
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.address) }}
	{{ form_row(form.address2) }}
	{{ form_row(form.location, {'attr': {'class': 'input-xlarge'}}) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.isFeatured) }}
</fieldset>
{{ form_widget(form._token) }}
</div>
