<div class="product-box">
	<div class="imagenProducto">
		<a href="{{ path('pigalle_mayorista_quickview', {'id': product.id}) }}" class="quickviewButton" data-toggle="modal" data-target="#quickviewModal"><img src="{{ asset('bundles/pigalle/images/quickview_eye.png') }}" alt="Quickview button" /></a>
		<img src="{{ product.image.path|imagine_filter('pigalle_220x220') }}" alt="Producto" />
	</div>
	<div class="pull-left descripcionProducto">
		<h3><a href="{{ path('pigalle_mayorista_show', {'slug': product.slug}) }}">{{ product.name }}</a></h3>
		<p>{{ product.shortDescription|truncate(50)  }}</p>
	</div>			
</div>
