{% extends 'PigalleBundle::layout.html.twig' %}

{% from 'PigalleBundle:Macros:misc.html.twig' import pagination %}
{% from 'PigalleBundle:Product:macros.html.twig' import grid %}

{% block content %}
<div class="shop">
	<div class="contentTitle"><h3 class="titleSection container">Mayorista</h3></div>
	<div class="container content">
		<div class="row-fluid">
			<div class="filters span3">
				{{ render(controller('PigalleBundle:Product:filters', { 'request' : app.request, 'route': 'pigalle_mayorista_index', 'routeByTaxon': 'pigalle_mayorista_index_by_taxon' } )) }}
			</div>
			<div class="products scrollPagination span9" data-sp-total-pages="{{ products.getNbPages }}" data-sp-load-url="{{ app.request.getUri }}">
				<div class="grid spContent">			
					{{ grid(products) }}
				</div>
				{{ pagination(products) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}
