{% extends 'GeckoNewsletterBundle::email_layout.html.twig' %}

{% block header_title %}
PEDIDO MAYORISTA <br> -
{% endblock %}

{% block content %}
<br />
<p>Has recibido un nuevo pedido del mayorista con email: {{ user.email }}</p>

<br />
<p style="font-weight: 700; text-decoration:underline;">DETALLE DEL PEDIDO:</p>
<br />

<table class="list">
{% for item in cart.items %}
	{% set product = item.productCollection %}
	<tr>
		<td style="width: 130px;text-align: center;">
			<p style="text-transform:uppercase; text-decoration:underline;"><a href="{{ url('pigalle_mayorista_show', {'slug': product.slug}) }}" target="_blank" style="color:#000000;">{{ product.name }}</a></p>
		</td>
		<td>
			<a href="{{ url('pigalle_mayorista_show', {'slug': product.slug}) }}" target="_blank">
				<img src="{{ app.request.scheme ~  '://' ~  app.request.host ~ (product.image.path|imagine_filter('sylius_60x60')) }}" alt="" />
			</a>
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td><tr>
{% endfor %}
</table>
<br /><br />
{% endblock %}